

.mainFxmlClass {

}
.button
{
    -fx-background-color: #3F2B63;
}
.button:hover
{
    -fx-background-color: #2A1C42;
}
.button:pressed
{
    -fx-background-color: #7156D0;
}
.table-view.collum-header,
.table-view .collum-header-background.filler
{
    -fx-cell-seize : 20;
    -fx-background-color: #2D7528;
}
.table-view.collum-header.label
{
    -fx-text-fill: white ;
    -fx-font-weight: bold;
    -fx-alignment : CENTER_LEFT;
}
.tabel-view .cell
{
    -fx-cell-seize :30;
    -fx-alignment:center-left;
    -fx-text-fill: #000000;
    -fx-alignment:CENTER_LEFT;
}